version: '3.8'
services:
  db:
    image: pgvector/pgvector:pg16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: biometry_db
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
